:root {
    --primeira-cor: #3347B0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Header */
header{
    background-color: var(--primeira-cor);
    height: 11dvh;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.logo{
    display: flex;
    justify-content: space-between;
    height: 20px;
    gap: 15px;
    align-items: center;
    padding-left: 30px;
}

.logo h1{
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.logo img{
    width: 60px;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-right: 30px;
}

.botao-voltar{
    background-color: var(--primeira-cor);
    border: none;
}

.voltar h1{
    font-size: 24px;
    color: white;
    font-weight: normal; 
}

.botao-voltar img{
    width: 40px;
}


/* Main */
.container-main{
    height: 100dvh;
}

.barra{
    background-color: #BCC2E5;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primeira-cor);
}

.legenda{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 25px;
}

.legenda img{
    width: 20px;
}
.legenda h4{
    font-weight: normal;
}

.cursando {
    display: flex;
    flex-direction: row;
}

.finalizado {
    display: flex;
    flex-direction: row;
}

.container-status {
    margin: 25px;
}

#status {
    border: none;
    background-color: #BCC2E5;
    color: var(--primeira-cor);
}

option {
    background-color: var(--primeira-cor);
    color: white;
}


/* Footer */
footer{
    background-color: var(--primeira-cor);
    height: 16dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.telefone, .email, .localizacao{
    display: flex;
    color: white;
    gap: 15px;
}

.telefone h1, .email h1, .localizacao h1{
    font-weight: normal;
    font-size: 16px;
}

.telefone img, .email img, .localizacao img{
    width: 17px;
}

.copyright h1{
    color: white;
    font-size: 18px;
    font-weight: normal;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 15px;
}